*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(226, 196, 196);

    
}
.sec{
    background-image: url(../images/bricks.jpg);
    background-repeat: no-repeat;
    height: 50%;
}
header{
    
    padding-top: 3%;
   
    
  

}
ul{
    
    width: 50%;
    float: right;
    font-size: 23px;
    font-family: monospace;
 
    
}
li{
    display: inline;
    padding-left:50px ;
  
    
    
    

}
a{
    text-decoration: none;
}
a:hover{
    color: red;

}
h1{
    margin-left: 5%;
    width: 180px;
    
    font-size: 50px;
    color: rgb(160, 233, 233);
    font-family: monospace;
    font-weight: 500;
    border: 1.5px solid rgba(159, 159, 184, 0.65);
    border-top-right-radius: 15px;
    border-top: 0em;
    
    text-shadow: 2px 1px rgb(145, 127, 127);
    box-shadow: 2px 2px 2px black;
        
      

}
hr{
    height: 1px;
    width: 200px;
    position: relative;
    bottom: 3px;
    color: yellow;
    animation: 20s hrl ease;
}
.main{
    display: flex;
    width: 100%;
   height: 80vh;
  

}
.welcome{
   
    width: 50%;
    font-family: cursive;
    padding-left: 3%;
    font-size: 2rem;
    color: rgb(114, 103, 103);
    animation: 20s word ease-in;
}
span{
    color:red;
    animation: 20s span ease-out;
    font-family:'Courier New', Courier, monospace;
}
.grid{
    width: 50%;
    margin-right: 7%;
  
    border-radius: 6px;
    height: 300px;
    background-image: url(../images/How-to-Create-A-Website-From-Scratch-The-Beginner’s-Guide.jpg);
    box-shadow: 2px 4px 5px;
    animation: 25s animate ease-in infinite;
    
}
.page2{
    background-image: url(../images/313022.jpg);
    width: 100%;
    background-size: cover;
    height: 100vh;
}
.page2_home{
  
    padding-top: 20%;
    text-align: center;
  
    
}
h3{
    font-size: 40px;
    font-family: cursive;
    color: rgb(172, 50, 50);
    animation: 14s bade ease-in-out;
}
p{
    font-size: 26px;
}
#get_start{
     background-color: transparent;
     padding: 10px;
     border-radius: 4px;
     cursor: pointer;
     font-family: monospace;
}
button:hover{
    box-shadow:5px 5px 5px black;
}
.openbtn,.closebtn{
    display: none;
}
pre, .whatsapp{
    color: white;
    background-color: transparent;
    font-size: 24px;
  text-align: center;
  padding-left: 70px;
  padding-top: 20px;
   
  
}


  
@keyframes animate{
    10%{
        background-image: url(../images/contact-bg.jpg);
    }
    50%{
        background-image: url(../images/website.jpg);
    }
    70%{
        background-image: url(../images/313022.jpg);
        background-size: contain;
    }
    90%{
        background-image: url(../images/web.jpg);
        background-size: contain;
    }
}

@keyframes word{
    10%{
        color: transparent;
        transform: translateX(-50% -50%);
    }
    50%{
        color: whitesmoke;
    }
}
@keyframes span{
    17%{
        color: transparent;
    }
}
@keyframes hrl{
    10%{
        width: 150px;
    }
    25%{
        display: none;
        margin-right: 20px;
        background: none;
    }
    50%{
        width: 110px;
    margin-bottom: 50px;
    }
}
@keyframes bade{
    10%{
        color: transparent;
    }
    40%{
        transform: translateX(-50% -50%);
        color: rgb(95, 95, 95);
    }
}



@media screen and (max-width:800px){
    .main{
        flex-direction: column;
        height:fit-content;
    }
    .welcome{
        width: 100%;
    }
    .welcome{
        text-align: center;
    }
    .grid{
        margin-left: 10%;
        margin-top: 5%;
     
        width: 80%;
    }
    hr{
        display: none;
    }
    ul{
        height: 100%;
         width: 0;
        position: fixed;
        z-index: 1;
         top: 0;
        left: 0;
        background-color: black;
     
 
        overflow-x: hidden;
         transition: 0.5s;
        padding-top: 60px

    }
  
    ul a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            text-align:center;
            transition: 0.3s;
          }
     ul .closebtn {
            position: absolute;
            display: inline-block;
           
            top: 80px;
            right: 25px;
            font-size: 36px;
           
          }
     .openbtn {
            font-size: 24px;
            cursor: pointer;
            position: relative;
            
            background-color:transparent;
            color: rgb(189, 136, 136);
            padding: 10px 15px;
            border: none;
            display: inline-flex;
          }
    
     .openbtn:hover {
            background-color: rgb(32, 10, 10);
            border-radius: 3px;
          } 
          .openbtn{
            float: right;
            position: relative;
            top: 50%;
           
            
        }    

      
     page2_home{
  
    padding-top: 50%;
    text-align: center;
  
    
}
          
    
}

